---
import Layout from "@/layouts/PageLayout.astro";
---

<Layout title="AHAT Stack Home">
	<section>
		<p>This is the home page.</p>
		<p><a href="#htmx">Go to HTMX demo</a></p>
		<p><a href="#alpine">Go to Alpine demo</a></p>
	</section>

	<section id="htmx">
		<h2 class="mt-1">A demo of HTMX</h2>
		<a href="https://htmx.org">See the HTMX docs</a>
		<p>These buttons replace the h1 at the top of this page</p>
		<ol class="flex flex-col mt-0 gap-y-4">
			<li>
				<p>
					<strong
						>Fetch the headline from <code>jsonplaceholder.typicode.com</code
						></strong
					>
				</p>
				<button
					class="flex items-center px-2 py-1 border rounded select-none gap-x-2"
					hx-get="https://jsonplaceholder.typicode.com/"
					hx-swap="innerHTML ignoreTitle:true"
					hx-target="h1"
					hx-select="#hero .container span"
				>
					Swap the title with jsonplaceholder title
					<img
						class="my-0 opacity-0 htmx-indicator h-7"
						src="/spinner.svg"
					/>
				</button>
			</li>
			<li>
				<p>
					<strong> Fetch a local static partial</strong>
				</p>
				<button
					class="flex items-center px-2 py-1 border rounded select-none gap-x-2"
					hx-get="/partials/new_headline"
					hx-swap="outerHTML ignoreTitle:true"
					hx-target="h1"
					hx-select="h1"
				>
					Swap the title with a local static partial
					<img
						class="my-0 opacity-0 htmx-indicator h-7"
						src="/spinner.svg"
					/>
				</button>
			</li>
			<li>
				<p>
					<strong
						>Fetch a local dynamic partial that fetches a new name from an API</strong
					>
				</p>
				<button
					class="flex items-center px-2 py-1 border rounded select-none gap-x-2"
					hx-get="/partials/random_name"
					hx-swap="outerHTML ignoreTitle:true"
					hx-target="h1"
					hx-select="h1"
				>
					Swap the title with a local dynamic partial
					<img
						class="my-0 opacity-0 htmx-indicator h-7"
						src="/spinner.svg"
					/>
				</button>
			</li>
		</ol>
		<p>Here's the code for that</p>
		<pre>
&lt;button
	class="flex items-center px-2 py-1 border rounded select-none gap-x-2"
	hx-get="https://jsonplaceholder.typicode.com/"
	hx-swap="innerHTML ignoreTitle:true"
	hx-target="h1"
	hx-select="#hero .container span"&gt;
		Swap the title with jsonplaceholder title
	&lt;img
		class="my-0 opacity-0 htmx-indicator h-7"
		src="/spinner.svg"/&gt;
&lt;/button&gt;

&lt;button
	class="px-2 py-1 border rounded select-none"
	hx-get="/partials/new_headline"
	hx-swap="outerHTML ignoreTitle:true"
	hx-target="h1"
	hx-select="h1"&gt;
		Swap the title with a local partial
&lt;/button&gt;
			</pre>
	</section>

	<section id="alpine">
		<h2 class="mt-1">A demo of Alpine</h2>
		<a href="https://alpinejs.dev">See the Alpine docs</a>
		<p>
			The button below uses clientside Javascript with Alpine to increment a
			number. It keeps locality of behaviour to within the HTML in the templ
			template.
		</p>
		<div x-data="{ count: 0 }">
			<button
				class="px-2 py-1 border rounded select-none"
				x-on:click="count++"
				>Increment</button
			>
			<span x-text="count"></span>
		</div>
		<div>
			<p>Here's the code for that</p>
			<pre>
&lt;div x-data="&#123; count: 0 &#125;"&gt;
	&lt;button
		class="px-2 py-1 border rounded select-none"
		x-on:click="count++"&gt;
			Increment
	&lt;/button&gt;
	&lt;span x-text="count"&gt;&lt;/span&gt;
&lt;/div&gt;
				</pre>
		</div>
	</section>
</Layout>
