---
import BaseLayout from "@/layouts/BaseLayout.astro";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<BaseLayout title={title}>
	<div id={title.toLowerCase()}>
		<slot />
	</div>
</BaseLayout>
